[workspace]
resolver = "2"
members = [
    "protoc-gen-prost",
    "protoc-gen-prost-crate",
    "protoc-gen-prost-serde",
    "protoc-gen-prost-validate",
    "protoc-gen-tonic",
    "protoc-wkt",
]

[profile.release]
codegen-units = 1
lto = "fat"
debug = true
